.homeTitle {
    text-transform: uppercase;
}
.homeInput {
    color: #333333;
}
.homeBox {
    background-color: #333333;
    margin: 100px 0 5px 0;
}
.homeBox .input-group-addon {
    border: 0.8rem solid #666; 
    border-right: none;   
}
.homeBox .homeInput {
    border: 0.8rem solid #666; 
    border-left: none;  
}
.homeBox .input-lg {
    padding: 2rem .8rem;
}
.brandLogo {
    padding: 10px;
    width: 20rem;
}
.btn-home {
    background-color: #6290C3;
    color: #FFFFFF;
    &:hover {
        color: #6290C3;
        background-color: #FFFFFF;
    }
}
i.icon.plz.plz-social-facebook,
i.icon.plz.plz-social-twitter,
i.icon.plz.plz-social-github {
    color: white;
    line-height: 0.0em;
}