.messenger {
  height: 70vh;;
  display: flex;
  flex-direction: column;
  align-content: stretch;

  .tab {
    margin: 0;
    flex-shrink: 0
  }

  .messages {
    flex: 1;

    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-end;
  }

  .messages-scroll {
    display: flex;
    flex-direction: column;
    padding: @layout-padding/2;

    .message {
      display: flex;
      flex-shrink: 0;
      margin: @layout-margin/8 0;

      .body {
        flex-grow: 1;
        padding-left: @layout-padding/2;
        p {
          background: darken(@body-bg, 6%);
          border-radius: @border-radius;
          padding: @layout-padding/2;
        }
      }
      .avatar {
        background: @control-color;
      }

      &.from-me {
        flex-direction: row-reverse;
        .body {
          padding-left: 0;
          padding-right: @layout-padding/2;
          p {
            background: darken(@body-bg, 4%);
          }
        }
      }
    }
  }
}
